#portfolio-container{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-top: 50px; 
    justify-content: center; 
    min-height: 310px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    position: relative;
    flex: 1 1 auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(236, 239, 241);
    border-image: initial;
    border-radius: 4px;
    overflow: hidden;
}

#construction-title{
    font-size: 100px; 
    color: rgb(22, 82, 240);
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: flex; 

}
