
.tableheader {
    border-bottom: none; 
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 18px;
    font-weight: 500;

}
.tabletitles {
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(17, 51, 83, 0.3) 
}

.index-table-container {
    display: flex; 
    justify-content: center; 
    align-content: column; 
}

.index-table {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 100; 

    width: 1178; 
    border: 1px; 
}

 .negpercent {
   color: rgb(223, 95, 103)
 }

 .pospercent {
   color: rgb(5, 177, 105);
 }

.crypto-name {
    display: flex;
    -webkit-box-align: center;

    align-items: flex-end;
    flex-direction: row;
    min-width: 140px;
    color: rgba(17, 51, 83, 0.6);
    flex: 1 1 auto;
    padding-right: 16px;
    padding-left: 16px;
}

.crypto-link {
  text-decoration: none;
  color: rgba(17, 51, 83, 0.6); 
}