.loggedin-navbar, .loggedout-navbar {
    display: flex; 
    justify-content: space-around;
    box-sizing: border-box; 
    flex-direction: row;
    align-items: center;
    background-color: rgb(22, 82, 240); 
    min-height: 10vh; 
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400; 
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 24px;
} 

.login-signup-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-around;
    width: 209px; 

}

.login-link-container, .login-link-container {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-direction: row;
    -webkit-box-align: center;
    
}

.login-link, .signup-link{
    text-decoration: none;
    display: flex; 
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 13px; 
}

.login-link{
    display: block;
    color: rgba(255,255,255,.95);
    font-weight: 600;
    text-shadow: none;
    text-decoration: none;
    padding: 8px 10px;
    font-size: 13px;
    margin: 0 0 0 5px;
    border-radius: 2px;
}


.signup-link{
    position: relative;
    width: auto;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
    margin: 0px;
    border-radius: 4px;
    transition: all 80ms ease-in-out 0s;
    padding: 12px 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}
}