.loggedout-navbar{
    display: flex; 
    justify-content: space-around;
    box-sizing: border-box; 
    flex-direction: row;
    align-items: center;
    background-color: rgb(22, 82, 240); 
    min-height: 10vh; 
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400; 
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 24px;
} 

.navbar-container{
    display: contents; 
}

.cornbase-logo-loggedin{
    text-decoration: none; 
    color: rgb(255, 255, 255);
}

.cornbase-logo-loggedout{
    text-decoration: none; 
    color:  rgb(22, 82, 240);
}

.loggedin-navbar {
    display: flex; 
    justify-content: space-around;
    box-sizing: border-box; 
    flex-direction: row;
    align-items: center;
    color: rgb(22, 82, 240); 
    min-height: 10vh; 
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400; 
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 24px;
    border-bottom: 1px solid rgb(236, 239, 241); 


}

.login-signup-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-around;
    width: 209px; 

}

.login-link-container, .login-link-container {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-direction: row;
    -webkit-box-align: center;
    
}

.login-link, .signup-link{
    text-decoration: none;
    display: flex; 
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 14px; 
}

.login-link-out{
    text-decoration: none;
    display: flex; 
    justify-content: space-between;
    color:  rgb(5, 15, 25);
    font-size: 15px; 
    line-height: 1.6; 
}

.login-link-out:hover{
    background-color: transparent; 
    color:  rgb(22, 82, 240)
}

.login-link{
    align-items: center; 
    justify-content: center; 
    color: rgba(255,255,255,.95);
    font-weight: 600;
    text-shadow: none;
    background-color: transparent;
    text-decoration: none;
    padding: 8px 10px;
    font-size: 14px;
    margin: 0 0 0 5px;
    border-radius: 2px;
}

.login-link:hover{
    background-color: transparent; 
    color: #ddd; 
}


.signup-link{
    position: relative;
    width: auto;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
    margin: 0px;
    border-radius: 4px;
    transition: all 80ms ease-in-out 0s;
    padding: 12px 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}

.signup-link:hover{
    background-color: rgb(255, 255, 255); 
    color: navy; 
}

/* .login-button, .demo-button {
    color: #fff;
    padding: 1em 2em;
    background:  rgb(22, 82, 240); 
    border-color:  rgb(22, 82, 240); ;
    font-size: 11px;
    text-transform: uppercase;
    height: 42px;
    letter-spacing: .05em;;
}

.login-button:focus { 
    border-color: rgb(22, 82, 240);
    outline: none;     
} */

.logout-button:focus { 
    outline: none;     
}
.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0px; 
    overflow: hidden; 
    border-radius: 50%; 
    border: none; 
    width:32px; 
    height:32px; 
    padding: 0; 
    -webkit-box-align: center;
}

  .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 30;
 } 

 .modal-content {
   display: flex; 
   position: absolute;
   justify-content: center; 
   top: 110px;
   right: 11.5%;
   font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   min-width: 208px;
   height: 293px; 
   box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
   background-color: rgb(255, 255, 255);
   z-index: 1000;
 }

/* 
 .modal-background{
    display: flex;
    flex-direction: column;
    z-index: 1000;
    min-width: 208px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(236, 239, 241);
    border-image: initial;
} */

#butt-mod{
    position: relative; 
}

.modal-user-container{    
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    color: rgb(5, 15, 25);
    padding: 16px;
}

.modal-user-name {
    display: block;
    margin-bottom: 2px;
    font-weight: 500; 
}

.modal-user-email {
    display: block;
    margin-bottom: 2px;
    margin-top: 6px; 
    font-size: 14px; 
    color: rgba(17, 51, 83, 0.6);
    font-weight: 500; 
}

.modal-logout-container {
    display: flex; 
    flex-direction: column; 

}

.modal-logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0px; 
    border: none; 
    padding: 0; 
    -webkit-box-align: center;
    color: rgb(223, 95, 103);
    flex: 1 1 0%;
    font-weight: 400; 
    font-size: 16px; 

}